@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lilita+One&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap'); 

body{
    background-image: url("Fundo-Quiz.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    font-family: "Noto Sans", sans-serif;
}
.pagina-inicio {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
}
    
 .pagina-inicio h1{
    color: white;
    -webkit-text-stroke: 1px black;
    font-family: "Lilita One", sans-serif;
    font-size: 60px;
    letter-spacing: 2px;
    text-align: center;
}
.Pbranco{
    font-size: 20px;
    color: white;
  font-weight: 700;
  -webkit-text-stroke: 1px black;  
}
.caixa-amarela{
    background-color: #fdcb02;
    width: 85%;
    max-width: 1000px;
    padding: 70px;
    border-radius: 30px;
    text-align: center;    
}

h2{
   position: relative;
   top: -65px;
}
.Pamarelo{
   position: relative;
   top: -60px; 
}
.Botoes{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.botao1{
    padding: 10px 30px;
    background-color: #4eb539;
    color: white;
    border-radius: 50px;
    text-align: center;
    width: 200px;
    text-decoration: none;
}
.botao2{
    padding: 10px 30px;
    background-color: #fd6b02;
    color: white;
    border-radius: 50px;
    text-align: center;
    width: 200px;
    text-decoration: none;
}
.botao3{
    padding: 10px 30px;
    background-color: #da3b38;
    color: white;
    border-radius: 50px;
    text-align: center;
    width: 200px;
    text-decoration: none;
}
