@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lilita+One&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap'); 

/*Pagina Inicial*/
body{
    background-image: url("Fundo-Quiz.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    font-family: "Noto Sans", sans-serif;
}
.pagina-inicio {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
}
    
 .pagina-inicio h1{
    color: white;
    -webkit-text-stroke: 1px black;
    font-family: "Lilita One", sans-serif;
    font-size: 60px;
    letter-spacing: 2px;
    text-align: center;
}
.Pbranco{
    font-size: 20px;
    color: white;
  font-weight: 700;
  -webkit-text-stroke: 1px black;  
}
.caixa-amarela{
    background-color: #fdcb02;
    width: 85%;
    max-width: 1000px;
    padding: 70px;
    border-radius: 30px;
    text-align: center;    
}

.pagina-inicio h2{
   position: relative;
   top: -65px;
}
.Pamarelo{
   position: relative;
   top: -60px; 
}
.Botoes{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.botao1{
    padding: 10px 30px;
    background-color: #4eb539;
    color: white;
    border-radius: 50px;
    text-align: center;
    width: 200px;
    text-decoration: none;
}
.botao2{
    padding: 10px 30px;
    background-color: #fd6b02;
    color: white;
    border-radius: 50px;
    text-align: center;
    width: 200px;
    text-decoration: none;
}
.botao3{
    padding: 10px 30px;
    background-color: #da3b38;
    color: white;
    border-radius: 50px;
    text-align: center;
    width: 200px;
    text-decoration: none;
}
/*Quiz Facil*/

.quiz-facil{
    background-image: url("Fundo-Quiz.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
.quiz-facil{
    margin: 0;
}
.quiz-facil h1 {
    text-align: center;
}

.quiz-facil h2{
    font-size: 1.2rem;
}
.PerguntasF form{
    margin: 0;
}
.PerguntasF{
    background-color: #fdcb02;
    width: 70%;
    padding: 40px;
    border-radius: 30px;
    max-width: 1000px;
    margin: 40px auto;
    box-sizing: border-box;
    border: #ffffffab 5px solid;
}
.pergunta{
    margin-bottom: 60px;
}
.pergunta h2{
    margin: 0 0 20px 0;
}
.pergunta label{
    display: block;
    padding: 6px 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;

}

.pergunta label:hover {
    background-color: rgba(0,0,0,0.1);
}

.quiz-facil h1{
    margin-top: 20px;
    color: white;
    -webkit-text-stroke: 1px black;
    font-family: "Lilita One", sans-serif;
    font-size: 60px;
    letter-spacing: 2px;
    text-align: center;
}
.pontos{
    background-color: #fdcb02;
    width: 70%;
    padding: 40px;
    border-radius: 30px;
    max-width: 1000px;
    margin: 40px auto;
    box-sizing: border-box;
    border: #ffffffab 5px solid;
}
.pontos button{
    background-color: #4eb539;
    border-radius: 15px;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    width: 200px;
    border-color: white;
    cursor: pointer;
}

#ponto{
    font-size: 20px;
    
}